.owners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
  }

  .owners > * {
    flex-basis: 31%;
    margin: 0.5rem;
  }

  
  section.owner {
    margin: 3rem;
  }
  
  .owner {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
  }
  
  .owner-info {
    color: var(--info);
    font-family: "Roboto", sans-serif;
  }
  
  .owner-header {
    font-size: larger;
    font-weight: 700;
    line-height: 3rem;
    color: var(--primary);
  }

  .pet {
    background-color: var(--white);
    border: 1px solid var(--outline);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
  .new {
    text-align: center;
    display: flex;
    flex-direction: column;
    color:  rgb(72, 0, 255);
  }
  .btn {
    align-self: flex-end;
    color:  rgb(72, 0, 255);
    border: 1px solid var(--outline);

  }

  .welcome-container {
    margin: 2rem auto;
    width: 60%;
    text-align: center;
    padding: 5rem 3rem;
    border: 1px solid var(--outline);
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1pc 3px 4px grey;
  }